[Desktop Entry]
Type=Application
Name=Apply Antyx branding
Exec=/usr/libexec/antyx-first-login
OnlyShowIn=KDE;
X-KDE-autostart-phase=2
NoDisplay=true
